@charset "UTF-8";

body{
    background-color: rgb(130, 247, 140);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(226, 22, 14);
}
h1#principal{
    text-align: center;
    background-color: rgb(8, 229, 236);
    color: white;
}
h2{
    color: rgb(19, 62, 253);
}
.basico{
    color:#3c805e;

}
.intermediario{
    color:#807b3c;

}
.avançado{
    color: #803c3c;

}
.destaque{
    background-color: white;
}