@charset "UTF-8"


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(164, 252, 164, 0.918) ;
}
header{
    background-image: linear-gradient(to bottom,#28a83de8,#063d1e);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px hsl(0deg 0% 0% / 27%);
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding: 50px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
}
nav{
    background-color: #063d1e;
    padding: 10px;
    box-shadow:  0px 7px 7px rgb(0 0 0 / 19%);
}
nav > a{
    color: #83e1ad;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;

}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
main h1{
    color: #063d1e;
    font-family: 'Android', cursive;
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: ;
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to left,#61fca4,#1a5c37);
    text-indent: 8px;
}
main img{
    width: 100%;
}
aside{
    background-color:#37e080d2 ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);

}
aside > h3{
    background-image: linear-gradient(to right,#063d1e,#61fca4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color:#063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color:#063d1e ;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}